* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    height: 460px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.etalage {
    margin-left: 20px;
    margin: auto;
    height: 300px;
}

.tijden {
    margin-left: 20px;
    margin: auto;
    height: 300px;
}